<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-sidebar-content [title]="'EVENTS'"></app-sidebar-content>
    </mat-drawer>
  
  </mat-drawer-container>