<mat-toolbar color="primary">
    <div class="buttons-container">
        <a class="nav-button" mat-button routerLink="home">
            <span class="special-font">
                Home
            </span>
        </a>
        <a class="nav-button" mat-button routerLink="events">
            <span class="special-font">
                Events
            </span>
        </a>
        <a class="nav-button" mat-button routerLink="portraits">
            <span class="special-font">
                Portraits
            </span>
        </a>
        <a class="nav-button" mat-button routerLink="clients">
            <span class="special-font">
                Clients
            </span>
        </a>
        <a class="nav-button" mat-button routerLink="about">
            <span class="special-font">
                About
            </span>
        </a>
        <a class="nav-button" mat-button routerLink="contact">
            <span class="special-font">
                Contact
            </span>
        </a>
    </div>

</mat-toolbar>
<router-outlet></router-outlet>