<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
      <app-sidebar-content [title]="'CONTACT'"></app-sidebar-content>
  </mat-drawer>

  <app-contact-form></app-contact-form>
</mat-drawer-container>