<mat-form-field class="name" appearance="outline">
  <input matInput placeholder="Name">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<mat-form-field class="email" appearance="outline">
  <input matInput placeholder="Email">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>
<mat-form-field class="subject" appearance="outline">
  <input matInput placeholder="Subject">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-hint>Hint</mat-hint>
</mat-form-field>

<mat-form-field class="text" appearance="outline">
  <textarea matInput #message maxlength="256" placeholder="Message">

    </textarea>
  <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
  <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
</mat-form-field>