<div class="sidebar-content">
    <div class="waheb-name">
      <span class="mat-headline special-font">Waheb Chargui</span>
      <span class="mat-subheading-1 special-font">{{title}}</span>
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/chargui.waheb" target="_blank">
            <i class="fab fa-2x fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/waheb.chargui" target="_blank">
          <i class="fab fa-2x fa-instagram"></i>
      </a>  
      </div>
  </div>