<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidebar-content [title]="'PHOTOGRAPHY'"></app-sidebar-content>
  </mat-drawer>
  <mat-drawer-content>
    <slideshow [imageUrls]="imgs" [autoPlay]="true" [showArrows]="false"></slideshow>
  </mat-drawer-content>
</mat-drawer-container>